:root {
  --bs-font-sans-serif: 'Rubik', sans-serif;
}

.container-xxl { max-width: 1200px; }

body {
  background-image: url("/img/i-like-food.svg");
  background-color: white;
}

a { color: black; }


#ingredients{
  background-color: transparent;
}

/* Category Card */
.category__link {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 250ms all;
}

.category__link:hover {
  transform: scale(1.1);
  color: white;
}

.category__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,.16);
  overflow: hidden;
  border-radius: 8px;
}

.category__img--large {
  height: 265px;
}

.category__img img {
  width: 100%;
  object-fit: cover;
}
#tag-line{
  color: black;
}

#submit{
  color: black;
}
#btn-submit{
  color: black;
}
#footer{
  color: black;
}

.bg-pink{
  background-color: #FFC0CB;
}